[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "StarlightCore"]
	path = StarlightCore
	url = https://github.com/JSchpp12/StarlightCore.git
[submodule "StarlightCommon"]
	path = StarlightCommon
	url = https://github.com/JSchpp12/StarlightCommon.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
