################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/StarlightCommon
/build
*/stb
/.devcontainer
/.vs
/xcode
/out/build/x64-Debug
/out/build/x64-Release
