[submodule "ShaderManager"]
	path = ShaderManager
	url = https://github.com/JSchpp12/ShaderManager.git
[submodule "RenderEngine"]
	path = RenderEngine
	url = https://github.com/JSchpp12/RenderEngine.git
[submodule "StarlightCommon"]
	path = StarlightCommon
	url = https://github.com/JSchpp12/StarlightCommon.git
[submodule "SceneManager"]
	path = SceneManager
	url = https://github.com/JSchpp12/SceneManager.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/RenderEngine"]
	path = libs/RenderEngine
	url = https://github.com/JSchpp12/RenderEngine.git
[submodule "libs/SceneManager"]
	path = libs/SceneManager
	url = https://github.com/JSchpp12/SceneManager.git
[submodule "libs/ShaderManager"]
	path = libs/ShaderManager
	url = https://github.com/JSchpp12/ShaderManager.git
[submodule "libs/StarlightCommon"]
	path = libs/StarlightCommon
	url = https://github.com/JSchpp12/StarlightCommon.git
